<body>
    <header>
        <h1 class="header-logo"><a href="#">Chronicle</a></h1>
    </header>
    <main>
        <div class="main-visual">
            <div id="calendar">
                <table>
                    <thead>
                        <tr>
                            <th>日</th>
                            <th>月</th>
                            <th>火</th>
                            <th>水</th>
                            <th>木</th>
                            <th>金</th>
                            <th>土</th>
                        </tr>
                    </thead>
                    <tbody id="calendar_detail">

                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <footer>
        <ul class="footer-list">
            <li><a href="#">テキスト</a></li>
            <li><a href="#">テキスト</a></li>
            <li><a href="#">テキスト</a></li>
        </ul>
        <div class="copy-light">
            <p>&copy;Chronicle</p>
        </div>
    </footer>     
</body>
